<!DOCTYPE html>
<html lang="en">
<head>
    <title>orderinfo</title>
<style>
    p{
        font-size: 1.5rem;
        color: #222;
        margin-bottom: 20px;
    }
</style>
</head>
<body>
  
    <form method="post" enctype="multipart/form-data" action="orderinfo">
      {% csrf_token %}
      <label for="name">NAME</label>
      <input type="text" name="name"><br>
      <label for="price">price</label>
      <input type="number" name="price"><br>
      <label for="description">Description</label>
      <input type="text" name="description"><br>
      <label for="image">upload image</label>
      <input type="file" name="foodimage">
      <button type="submit">submit</button>
    </form>
    
</body>
</html>